.menu-list{
    padding:0;
    margin:0;
    .menu-item{
        list-style:none;
        .menu-link{
            text-decoration:none;
            color:$menu-color;
            position: relative;
            display: block;
            padding: 24px 36px;
            font-size: 17px;
            font-weight: bold;
            color: #202121;
            cursor: pointer;
            background: #f4f7f6;
            border-bottom: 1px solid #E6EAEA;
            transition: background 0.3s ease-in-out,
            border 0.3s ease-in-out, color 0.3s ease-in-out;
            &:hover{
                background-color:white;
            }
        }
    }
}

.language{
    color: #202121 !important;
    border-bottom: 1px solid rgba(32,33,33,0.5);
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    &:hover{
        border-color:$menu-color;
        transition: all 0.3s ease-in-out;
    }
}

.btn-close{
    cursor: pointer;
    padding-right: 30px;
    color: #202121;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    &:before{
        content: '';
        position: absolute;
        top: 33px;
        right: 27px;
        width: 20px;
        height: 3px;
        background: #202121;
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
    }
    &:after{
        content: '';
        position: absolute;
        top: 33px;
        right: 27px;
        width: 20px;
        height: 3px;
        background: #202121;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out; 
    }
    &:hover{
        opacity: 0.7;   
    }
}

.nav-header{
    .pull-left{
        float:left;
    }
    .pull-right{
        float:right;
        
    }
    height:70px;
    padding:0 30px;
    line-height:70px;
    font-size:14px;
    font-weight: normal;
    border-bottom: 1px solid #E6EAEA;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    
}
.nav-main{ 
    width: 320px;
    z-index: 301;
    height: 100vh;
    transform: translateX(-320px);
    background: $background-color;
    
    font-weight: 300;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    
    & nav.menu-list{
        display:flex;
        height: 100%;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        & a{
            text-decoration:none;
            text-transform:uppercase;
            color:$menu-color;
            font-size:14px;
        }


        
    }


.nav-sidebar-open{
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.75);
        z-index: 400;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease-in-out;
    }
}


}
.show-nav{
    transform: translateX(0);
}
.content-toggle{
    transform: translateX(320px);
}
