


.nav-header{
    height:70px;
    text-align:center;
}
.nav-toggle{
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    z-index: 301;
    
    transform: translateX(-320px);
    background: #f4f7f6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    & nav.menu-list{
        display:flex;
        height: 100%;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        & a{
            text-decoration:none;
            text-transform:uppercase;
            color:$menu-color;
            font-size:14px;
        }


        
    }
    

}
.show-nav{
    transform: translateX(0);
}
.content-toggle{
    transform: translateX(320px);
}